// Links de navbar
.navbar__links {
    width: 30%;
    margin-left: 20px;
  }
  .navbar__link--size {
    text-decoration: none;
    margin: 0px 20px;
    color: #989797;
  }

  .navbar__link--size:hover {
    color: #000000;
  }